## [Links] {{hn_post_title}}

{{hn_link}}

{% for post_title, post_link, thumbnail_link in links_with_metadata %}
### {{ post_title }}
{{ post_link }}
![]({{ thumbnail_link }})
{% endfor %}

Made with ❤️
